/*--------- COLORS ---------*/

/*
Blue:           #66B2FF
Green:          #66FFFF
Light Blue:     #CCE5FF
Light Green:    #CCFFFF
Gray:           #222222
Light Gray:     #888888
*/

/*--------- BODY ---------*/

body {
    background-color: #222222;
    font-family: arial;
    width: 800px;
    margin: 0 auto;
    margin-top: 1%;
}

div {
    margin: auto;
    text-align: center;
    display: inline-block;
    color: #FFFFFF;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

h1 {
    color: #66FFFF;
    margin-left: 105px;
}

h2 {
    color: #66B2FF;
    margin-left: 105px;
}

p {
    color: #FFFFFF;
    margin-left: 105px;
}

a {
    color: #66B2FF;
    text-decoration: none;
}

a:hover {
    color: #CCE5FF;
}

.projects_link {
    color: #FFFFFF;
}

a.projects_link:hover {
    color: #CCFFFF;
}

span {
}

.resume {
    color: #CCFFFF;
}

.projects {
    color: #66B2FF;
}

/*--------- HEADER ---------*/

.header {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    line-height: 100px;
    margin-left: 5px;
    margin-top: 5px;
}

.buttons {
    color: #FFFFFF;
}

#name {
    background-color: #888888;
    color: #FFFFFF;
    font-family: "Lucida handwriting";
    font-size: 18px;
    margin-left: 0px;
}

#name:hover {
    background-color: #FFFFFF;
    color: #888888;
}

#b1 {
    background-color: #66B2FF;
    color: #FFFFFF;
}

#b1:hover {
    background-color: #FFFFFF;
    color: #66B2FF;
}

#b2 {
    background-color: #66FFFF; 
    color: #FFFFFF;
}

#b2:hover {
    background-color: #FFFFFF;
    color: #66FFFF;
}

#b3 {
    background-color: #CCE5FF;
    color: #FFFFFF;
}

#b3:hover {
    background-color: #FFFFFF;
    color: #CCE5FF;
}

#b4 {
    background-color: #CCFFFF;
    color: #FFFFFF; 
}

#b4:hover {
    background-color: #FFFFFF;
    color: #CCFFFF;
}

hr {
    border: 2px dashed white;
}

/*--------- FOOTER ---------*/

.footer {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin-left: 5px;
    margin-bottom: 5px;
    float: right;
}

#bb1 {
    background-color: #66FFFF;
}

#bb1:hover {
    background-color: #FFFFFF;
}

#bb2 {
    background-color: #66B2FF;
}

#bb2:hover {
    background-color: #FFFFFF;
}

/*--------- INDEX ---------*/

#pic {
    display: block;
    height: 300px;
    width: 300px;
    margin-left: 250px;
    margin-top: 4%;
}

#index_name:link {
    font-size: 300%;
    font-family: "Lucida handwriting", cursive, "Courier New";
}

#index_name:hover {
    color: #66FFFF;
}

/*--------- PI ---------*/

table, td {
    border: 5px solid #222222;
    margin-left: 75px;
    margin-bottom: 20px;
}

.pi:link {
    opacity: 1;
}

.pi:hover {
    opacity: .25;
}

.pi_text {
    opacity: .25;
}

.pi_text:hover {
    opacity: 1;
}



