body {
    background-color: #222222;
    font-family: arial;
    width: 800px;
    margin: 0 auto;
}

div {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    color: #FFFFFF;
    margin-left: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    color: #66FFFF;
    margin-left: 110px;
}

p {
    color: #FFFFFF;
    margin-left: 110px;
}

a {
    color: #66B2FF;
    text-decoration: none;
}

.buttons {
    color: #FFFFFF;
}

#pic {
    display: block;
    height: 300px;
    width: 300px;
    margin-left: 175px;
    margin-top: 4%;
}

#name {
    background-color: #888888;
    font-family: cursive;
}

#b1 {
    background-color: #66B2FF;
}

#b2 {
    background-color: #66FFFF; 
}

#b3 {
    background-color: #CCE5FF;
}

#b4 {
    background-color: #CCFFFF; 
}

/*
.header {
    display: none;
}

div:hover + .header {
    display: inline-block;
}
*/



